.fab-button{
  margin: auto;
  size: 90px;
  width: max-content;
  height: 50%;
}

.title{
  margin-left: 10px;
  font-weight: bold;
  color: cornsilk;
}

.toll-bar{
  color: #ea899a;
}

.fab-icon{
  margin: auto;
  size: 80px;
  width: max-content;
}

.bold{
  font-weight: bold;
}

.list-ajust{
  margin: auto;
  box-sizing: content-box;
  width: 100%;
}
